<!-- Navigation -->
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Flask App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == '/' %}active{% endif %}"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if request.path == '/about' %}active{% endif %}"
            href="/about"
            >About</a
          >
        </li>
        <li class="nav-item ms-2">
          <button
            id="theme-toggle"
            class="btn btn-sm d-flex justify-content-center align-items-center"
            aria-label="Toggle dark mode"
          >
            <i class="bi pb-1 bi-sun theme-icon-light"></i>
            <i class="bi pb-1 bi-moon theme-icon-dark"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
